#restc{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.rcatt{
    border: 2px black solid;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:baseline;
    background-color: gray;
    color: aliceblue;
    font-size: 16;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 70px;
}